.memory {
  margin: 10px 10px 0 10px;
  display: flex;
  flex-direction: row;
}

.memory-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  padding: 10px;
  background-color: #FAE7D4;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  border-right: 2px solid #FAD9B6;

  flex: 0 0 9em;
}

textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

button {
  margin-top: 5px;
}

.year {
  font-size: 150%;
}

.memory-right {
  flex-grow: 1;
  background-color: #FAF0E6;
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.delete-button {
  margin-top: 3em;
}

.spinner {
  position: fixed;
  width: 100px;
  height: 100px;
  border: 5px solid black;
  border-top-color: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}